::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff7f00;
    border-radius: 10px;
    border: 3px solid rgba(255, 165, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffb84d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #1e1e1e;
    color: #e0e0e0;
    line-height: 1.5;
    margin: 0;
    font-size: 16px;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
}

header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    transition: top 0.3s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header.floating {
    top: 10px;
    backdrop-filter: blur(15px);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #ffa500;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s ease;
}

a:hover {
    color: #ffffff;
}

.logo {
    height: auto;
    max-height: 40px;
    width: auto;
    max-width: 100%;
    user-select: none;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 0.8em;
    }

    .intro-text-container {
        font-size: 1.5em;
        padding: 5px;
    }

    .modal-content {
        width: 90%;
    }
}

@media (min-width: 768px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

nav {
    display: flex;
    gap: 20px;
    font-size: 1.3em;
    user-select: none;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Lexend', sans-serif;
    transition: color 0.5s ease;
}

nav a:hover {
    color: #ffa500;
}

button, .modal-button {
    padding: 10px 15px;
    font-size: 1em;
}

.dashboard-button {
    background-color: #ff7218;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    user-select: none;
}

.dashboard-button:hover {
    background-color: #ffb84d;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 10000;
    animation: fadeInModal 0.3s forwards;
}

@keyframes fadeInModal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutModal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    width: 300px;
    max-width: 90%;
    position: relative;
    animation: slideDown 0.3s forwards;
}

.modal-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    background-color: #ff7218;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal-button:hover {
    background-color: #ffb84d;
}

main {
    margin-top: 30px;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.fullscreen-intro {
    position: relative;
    width: 99.2vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text-container {
    position: relative;
    z-index: 10;
    color: #ff7218;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 8px;
}

.intro-text-container:hover {
    color: #ffa500;
}

@keyframes iconAnimation {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.icon-copied {
    content: url("img/copied-icon.png");
    animation: iconAnimation 0.6s ease;
}

#particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    filter: blur(3px);
    opacity: 0.8;
}

.intro-box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 165, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    line-height: 1.6;
    justify-content: space-between;
    align-items: stretch;
}

.info-box {
    background-color: rgba(255, 166, 0, 0.040);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(50% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: border 0.3s ease, transform 0.3s ease;
    border: 2px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box a {
    color: #ffa500;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s ease;
}

.info-box p {
    margin-top: 2%;
}

.info-box h2 {
    align-self: center;
}

.info-box:hover {
    border: 2px solid #ffa500;
    transform: translateY(-5px);
}

.info-box button {
    background-color: #ff7218;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-size: 1em;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10%;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    user-select: none;
}

h1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
    color: #ffb84d;
    text-align: center;
    margin-bottom: 20px;
}

h2, h3 {
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #ffa500;
    margin-top: 20px;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.image-caption {
    font-style: italic;
    color: #c0c0c0;
    margin-top: 5px;
}

/* Features List */
.features-list {
    margin: 20px 0;
    padding-left: 20px;
    list-style-type: disc;
}

.features-list li {
    margin: 8px 0;
    color: #f0f0f0;
}

blockquote {
    font-style: italic;
    color: #dddddd;
    margin: 20px 0;
    padding-left: 20px;
    border-left: 4px solid #ff7f00;
}

.footer {
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    border-top: 2px solid #ff7f00;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.footer-nav a {
    color: #ffa500;
    text-decoration: none;
    font-weight: 600;
}

.footer-nav a:hover {
    color: #ffb84d;
}

.platzhalter {
    height: 100px;
}