body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    transition: background-color 1s;
}

::-moz-selection {
    color: white;
    background: orange;
}

::selection {
    color: white;
    background: orange;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #f57c00; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}

.notification-container {
    position: fixed;
    top: 10px;
    right: 10px;
    max-width: 300px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1001;
}

.notification-content {
    display: flex;
    align-items: center;
}

.notification-icon {
    margin-right: 10px;
}

.notification-container.show {
    transform: translateX(0);
    opacity: 1;
}

.navbar {
    background-color: #000;
    padding: 15px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 80px);
    top: 10px;
    left: 20px;
    z-index: 1000;
    border-radius: 10px;
    transition: width 0.3s, left 0.3s, box-shadow 0.3s;
    user-select: none;
    box-shadow: 0px 10px 44px 6px rgba(0, 0, 0, 0.48);
}

.menu {
    cursor: pointer;
    transition: 0.3s, transform 0.3s;
}

.menu:hover {
    transform: scale(1.1);
}

.clickable-word {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: bold;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.hykloslink, .calink {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.hykloslink:hover, .calink:hover {
    color: white;
} 

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.nav-links a:hover {
    color: white;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -400px;
    width: 300px;
    height: 100%;
    background-color: #43474e;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: left 0.3s ease-in-out;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

.sidebar a:hover {
    color: orange;
}

.slider-container {
    display: flex;
    overflow: hidden;
}

.profilbild {
    transition: transform 0.3s, border-radius 0.3s;
}

.profilbild:hover {
    transform: scale(1.1);
    border-radius: 5%;
}

.project {
    margin-top: 150px;
    width: 100%;
    box-sizing: border-box;
    display: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(209, 209, 209);
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.project h2 {
    margin-bottom: 10px;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 23%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    user-select: none;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(133, 64, 3, 0.85);
    box-shadow: 0px 0px 15px 5px rgba(133, 64, 3, 0.85);
    transition: left 0.3s, color 0.3s, box-shadow 0.3s;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

#project1 {
    display: block;
}

.slider-container2 {
    display: flex;
    overflow: hidden;
    justify-content: center; 
    align-items: center; 
    margin: 20px;
}

.profile-slide {
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    margin-right: 20px;
    color: white;
    text-align: center;
    opacity: 0; 
    animation: fadeInProfile 1s ease-in-out forwards; 
}

@keyframes fadeInProfile {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.profile-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-info h3 {
    font-size: 20px; 
    color: white; 
}

.profile-info span {
    font-size: 14px; 
    color: #888; 
}

.profile-info button {
    margin-top: 10px;
    background-color: #2c2f33;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
}

.profile-info button:hover {
    background-color: #ffffff;
    color: #2c2f33;
    transform: scale(1.1);
}

.schwarze-box {
    background-color: #000;
    color: #888; 
    border-radius: 10px;
    padding: 20px;
    width: 1000px;
    height: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 auto; 
}

.schwarze-box h2 {
    color: #fff; 
}

.contact-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #43474e;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.contact-container h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #888;
    border-radius: 4px;
}

.hyklosbild {
    user-select: none;
    transition: 0.3s;
}

.hyklosbild:hover {
    transform: scale(1.1);
}

.cabild {
    user-select: none;
    transform: 0,3;
    transition: 0.3s;
}

.cabild:hover{
    transform: scale(1.1);
}

button {
    background-color: #f57c00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
}

button:hover {
    background-color: #ffffff;
    color: #f57c00;
    transform: scale(1.1);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #f57c00;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: white;
    color: #f57c00;
}

.black-footer {
    background-color: black;
    color: gray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.text1 {
    margin-top: 15px;
}

.black-footer .text1 {
    text-align: center;
    text-decoration: none;
    color: gray;
}

.text4 {
    text-align: center;
    color: white;
    font-weight: bold;
    order: 2; 
    flex-basis: 100%; 
}

body.loaded {
    background-color: #2c2f33;
}
